body {
  background-color: rgb(184, 247, 217);
}

 main {
      font-family: "Comic Sans", "Times New Roman", serif;
      font-style: oblique;
      font-size: 30px;
      color: rgb(4, 3, 63);
      width: 100%;
      text-align: center;
      max-width: 1920px;
      min-width: 480px; 
      height: 100px; 
      margin-left: -8px;
      padding: 100px 0 0;
  /* font-family: "Comic Sans", "Times New Roman", serif;
  font-style: oblique;
  color: rgb(4, 3, 63);
  font-size: 33px;
  width: 100%;
  max-width: 1920px;
  min-width: 480px; 
  height: 200px; 
  margin-left: -8px;
  text-align: center;
  padding: 100px 0 0; */
} 
h1 {
  font-size: 18px;
}

.button,
.button_red,
.button_Yellow,
.button_Green {
  padding: 7px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: inherit;
  background-color: rgba(241, 241, 243, 0.986);
}
.button_red {
  background-color: rgba(252, 44, 44, 0.877);
  color: whitesmoke;
}
.button_Yellow {
  background-color: rgba(252, 238, 44, 0.877);
}
.button_Green {
  background-color: rgba(44, 252, 72, 0.877);
}


.container {
  width: 100%;
  max-width: 1920px;
  min-width: 480px;
/*  height: 100%;*/
  margin-left: -8px;
  overflow: hidden;
  text-align: center;
}
